---
import type { Tables } from "../../supabase/types.ts";

interface Props {
  framework: Tables<"frameworks">;
}

const { framework } = Astro.props;
---

<tr class="border-b border-neutral-600">
  <td class="text-xl font-bold">{framework.name}</td>
  <td>
    <img
      src={`/.netlify/images?url=/images/${framework.logo}`}
      class="w-32"
      alt={framework.name}
    />
  </td>
  <td>{framework.likes} like{framework.likes === 1 ? "" : "s"}</td>
  <td><a href={`/frameworks/${framework.id}`} class="underline">Learn more &rarr;</a></td>
  <td>
    <form action={`/api/frameworks/${framework?.id}/like`} method="post">
      <button type="submit" class="px-4 py-2 bg-green-500 rounded-sm text-neutral-800 hover:bg-green-600">Like</button>
    </form>
  </td>
</tr>
